html {
  font-size: 4rem/1.618/1.618;
  line-height: 1.6;
  font-family: 'Nippo-Regular';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  margin: 0;
  padding-top: 1rem;
  background-color: #1a265a;
  text-align: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-text {
  flex-grow: 1;
}

.header-text h1 {
  font-size: 4rem;
  color: #f1600d;
}

.header-text h2 {
  font-size: 4rem/1.618;
  color: #fef6ed;
}

.user-profile img {
  width: 65px;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s, transform 0.3s, opacity 0.3s;
}

.user-profile:hover img {
  background-color: #f1600d;
  color: black;
  opacity: 0.8;
  transform: scale(1.1); /* Increase size by 10% */
}

.topnav {
  background-color: transparent;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
  margin-left: 10px;
}

.topnav a img {
  width: 29px;
}

.topnav a:hover {
  background-color: #f1600d;
  color: black;
}

.topnav a.active {
  background-color: #f1600d;
  color: white;
}

.topnav input[type=text] {
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
    margin-left: 10px;
}

#navbar {
  background-color: #1a265a;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: -200px;
  width: 100%;
  transition: top 0.3s;
}

.brand {
  display: flex;
  align-items: center;
}

.brand-text {
  font-size: 2rem;
  color: #f1600d;
  margin-right: 10px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

#navbar a {
  display: inline-block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
  margin-left: 10px;
}

#navbar a img {
  width: 29px;
  height: auto; /* Ensure images maintain their aspect ratio */
}

#navbar a:hover {
  background-color: #f1600d;
  color: black;
}

#navbar a.active {
  background-color: #f1600d;
  color: white;
}

#navbar input[type=text] {
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
  margin-left: 10px;
}

main {
  display: grid;
  grid-gap: 1rem;
  max-width: 1600px;
  margin: 2rem auto;
}

figure {
  border: 1px solid #1a265a;
  border-radius: 20px;
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

figcaption {
  padding: 1rem;
  text-align: center;
  background-color: #f1600d;
}

.doc {
  padding: 0.5rem;
  font-size: 0.9rem;
}

footer {
  background-color: #1a265a;
  color: #fef6ed;
  text-align: center;
  padding: 1rem 3rem;
}

@media screen and (min-width: 600px) {
  main {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
}

@media screen and (min-width: 900px) {
  main {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media screen and (min-width: 1200px) {
  main {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
  }
}

