body {
    font-family: 'Nippo-Regular';
    margin: 0;
    padding: 0;
    background-color: #fef6ed;
    color: #333;
    position: relative;
}

header {
    background-color: #1a265a;
    padding: 20px;
    text-align: center;
    position: relative;
    color: #fef6ed;
}

header h1 {
    color: #f1600d;
}

header .logo {
    max-width: 100%; /* Set a maximum width */
    height: auto; /* Allow height to adjust automatically */
}

section {
    padding: 30px;
}

h2 {
    color: #50a5b1;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  .container{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    background-color: #1a265a;
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #fef6ed;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #f1600d;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fef6ed;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #f1600d;
    padding-left: 8px;
  }

  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }

.raphaelschopfergithub{
  background-image: url('images/github.png');
  background-size: cover;
  width: 50px;
  height: 50px;;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.raphaelschopferlinkedin{
  background-image: url('images/linkedin.png');
  background-size: cover;
  width: 50px;
  height: 50px;;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.benjaminmarchalgithub{
  margin-top: 10px;
  background-image: url('images/github.png');
  background-size: cover;
  width: 50px;
  height: 50px;;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.benjaminmarchallinkedin{
  background-image: url('images/linkedin.png');
  background-size: cover;
  width: 50px;
  height: 50px;;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  transition: transform 0.3s ease, filter 0.3s ease;
}
.raphaelschopfergithub:hover{
  background-image: url('images/github-hover.png');
  transform: scale(1.2);
}
.raphaelschopferlinkedin:hover{
  background-image: url('images/linkedin-hover.png');
  transform: scale(1.2);
}
.benjaminmarchalgithub:hover{
  background-image: url('images/github-hover.png');
  transform: scale(1.2);
}
.benjaminmarchallinkedin:hover{
  background-image: url('images/linkedin-hover.png');
  transform: scale(1.2);
}
.social-links{
  font-size: 16px;
  text-transform: capitalize;
  color: #fef6ed;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  margin-bottom: 10px;

}
.raphael,
.benjamin {
  margin-bottom: 10px;
}

.raphael p,
.benjamin p {
  margin-bottom: 10px;
  font-size: 16px; 

}