/* GENERAL -----------------------------------------------------------------------------------------------------------------------*/
:root {
	--primary-bg: #1C203A; /* Background principal */
	--secondary-color: #F77D2E; /* Accents et boutons */
	--tertiary-color: #405BA2; /* Second plan */
	--text-light: #FDFDFE; /* Texte clair */
	--element-bg: #ECEFF4; /* Background des éléments */
	--shadow: rgba(0, 0, 0, 0.1);
  }
  

html {
	font-size: 4rem/1.618/1.618;
	line-height: 1.6;
	font-family: 'Nippo-Regular';
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: radial-gradient(
		circle,
		#1C203A,
		#242B48 60%,
		#2E3555 80%,
		#445275 100%
	);
}
header {
	margin: 0;
	padding-top: 1rem;
	background-color: var(--primary-bg);
	text-align: center;
	box-shadow: 0px 4px 8px var(--card-shadow);
}
.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}
.header-text {
	flex-grow: 1;
}
.header-text h1 {
	font-size: 4rem;
	color: var(--secondary-color);
}
.header-text h2 {
	font-size: 4rem/1.618;
	color: var(--text-light);
}
.user-profile img {
	width: 65px;
	border-radius: 50%;
	transition: background-color 0.3s, color 0.3s, transform 0.3s, opacity 0.3s;
}
.user-profile:hover img {
	background-color: var(--secondary-color);
	color: black;
	opacity: 0.8;
	transform: scale(1.1);
}

.topnav {
    background-color: transparent;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}
  
  /* Container des liens et du champ de recherche */
  .menu-links {
	display: flex;
	align-items: center;
  }
  
  /* Styles pour le champ de recherche */
  .menu-links input[type="text"] {
	padding: 14px 16px;
	font-size: 17px;
	border-radius: 10px;
	margin-left: 10px;
	max-width: 200px;
  }
  
  /* Styles pour les liens et le bouton */
  .menu-links a,
  .menu-links button {
	display: inline-block;
	color: var(--text-light);
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	border-radius: 10px;
	margin-left: 10px;
	background-color: transparent;
	border: none;
	cursor: pointer;
  }
  
  /* Style particulier pour le lien de création d'événement */
  .menu-links a.create-event-link {
	background-color: var(--secondary-color);
	color: var(--text-light);
  }
  
  /* Animation au survol */
  .menu-links a:hover,
  .menu-links button:hover {
	background-color: var(--secondary-color);
	transform: scale(1.1);
	transition: transform 0.3s ease;
  }
  
  /* Styles pour les images */
  .menu-links a img,
  .menu-links button img {
	width: 29px;
	transition: transform 0.3s ease;
  }
  
  /* Bouton burger : masqué sur desktop */
  .burger-menu {
	display: none;

  }
  
  /* -------- Responsive -------- */
  @media screen and (max-width: 768px) {
	/* La barre de navigation peut se répartir sur plusieurs lignes */
	.topnav {
	  flex-wrap: wrap;
	}
	
	.menu-links {
		flex-direction: column;
		width: 100%;
		max-height: 0; /* Caché par défaut */
		opacity: 0;
		overflow: hidden;
		transform: translateY(-10px); /* Effet léger de glissement */
		transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
		padding: 0;
	}
	
	/* Quand le menu est actif */
	.menu-links.active {
		max-height: 500px; /* Ajuste selon le contenu */
		opacity: 1;
		transform: translateY(0);
	}
	
	
	/* Quand le menu est actif, afficher les liens */
	.topnav.responsive .menu-links {
	  display: flex;
	}
	
	/* Afficher le bouton burger sur mobile */
	.burger-menu {
	  display: block;
	  text-align: center;
	}
	.burger-menu img {
		width: 50px;
	  }
	
	/* Ajustement du champ de recherche en mobile */
	.menu-links input[type="text"] {
	  max-width: 90%;
	  width: 90%;
	  margin: 10px auto;
	}
	
	/* Centrer les liens et le bouton en mobile */
	.menu-links a,
	.menu-links button {
	  margin: 10px auto;
	  width: 90%;
	  text-align: center;
	}
  }
  
#navbar {
	background-color: var(--primary-bg);
	overflow: hidden;
	display: flex;
	align-items: center;
	padding: 1rem;
	position: fixed;
    z-index: 10;
	top: -200px;
	width: 100%;
	transition: top 0.3s;
}
.brand {
	display: flex;
	align-items: center;
}
.brand-text {
	font-size: 2rem;
	color: var(--secondary-color);
	margin-right: 10px;
	font-weight: bold;
}
.nav-links {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 1;
}
#navbar a {
	display: inline-block;
	color: var(--text-light);
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	border-radius: 10px;
	margin-left: 10px;
}
#navbar button {
	display: inline-block;
	color: var(--text-light);
	background-color: var(--primary-bg);
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	border-radius: 10px;
	margin-right: 20px;
	border-color: var(--secondary-color);
	cursor: pointer;
}
#navbar a img, #navbar button img {
	width: 29px;
	height: auto;
}
#navbar a:hover, #navbar button:hover {
	background-color: var(--secondary-color);
	color: black;
}
#navbar a.create-event-link {
	background-color: var(--secondary-color);
	color: var(--text-light);
}
#navbar input[type=text] {
	height: 66px;
	padding: 14px 16px;
	font-size: 17px;
	border-radius: 10px;
}
main {
	display: grid;
	grid-gap: 1rem;
	max-width: 1600px;
	margin: 2rem auto;
}
figure {
	position: relative;
	border: 2px solid var(--secondary-color);
	border-radius: 20px;
	overflow: hidden;
	margin: 20px;
	background-color: var(--element-bg);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
	padding-bottom: 10px;
	background-image: radial-gradient(
		circle,
		#1C203A,
		#242B48 60%,
		#2E3555 80%,
		#445275 100%
	);
	z-index: 3;
}

figure:hover {
	transform: translateY(-10px);
	box-shadow: 0px 4px 8px var(--card-shadow);
}

main img {
	border-radius: 20px;
	border: 6px solid var(--primary-bg);
	width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
}
figcaption {
	font-size: 1.2rem;
	padding: 0.5rem;
	text-align: center;
	color: var(--secondary-color);
	
}

.doc {
	padding: 0.5rem;
	font-size: 0.9rem;
	color: var(--text-light);
	border: 2px solid var(--secondary-color);
	min-height: 60px; 
    max-height: 60px;
    overflow: hidden;
}
	
.date, .city, .address, .participants, .status {
	font-size: 1rem;
	color: var(--text-light);
	padding: 0.5rem;
}

.sport{
	margin-left: 10px;
    background: var(--element-bg);
    color: var(--primary-bg);
    padding: 5px 5px;
    border-radius: 24px;
    font-size: 12px;
    font-weight: bold;
    display: block;
    max-width:  fit-content;;
    text-align: center;
    white-space: nowrap; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

}
.event-date{
	top: 10px;
    right: 10px;
	position: absolute;
    background: var(--text-light);
    color: var(--primary-bg);
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    max-width: 150px;
    text-align: center;
    white-space: nowrap; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

}
.event-hour {
    position: absolute;
    top: 58px;
    right: 10px;
    background: var(--secondary-color);
    color: var(--text-light);
    padding: 5px 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}
.address {
    min-height: 60px; 
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;

}
.status{
	margin-left: auto;
	margin-right: 10px;
    background: var(--element-bg);
    color: var(--primary-bg);
    padding: 5px 5px;
    border-radius: 24px;
    font-size: 18px;
    font-weight: bold;
    display: block;
    max-width:  fit-content;;
    text-align: center;
    white-space: nowrap; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

}
.action-link {
    display: block;
	margin: 20px auto 0px;
    align-items: center;
	text-align: center;
	justify-content: center;
    text-decoration: none;
	margin: 20px auto 0;
    font-size: 1rem;
    color: var(--text-light);
    font-weight: bold;
    padding: 8px 12px;
    background-color: var(--secondary-color);
    border-radius: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
	width: 80%;
}

.action-link:hover {
    background-color: var(--tertiary-color);
    transform: scale(1.05);
    color: var(--secondary-color); /* Soft Orange */
}

.link-text {
    margin-right: 8px;
}



.modal-background, .modal-background2, .modal-background-chat {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	z-index: 5;
}
#createEventBox h2 {
	color: var(--secondary-color);
	font-size: 2rem;
	margin-bottom: 0.5rem;
}
#createEventBox ul {
	color: var(--text-light);
	font-size: 1rem;
}
.event-box {
	border: 6px solid var(--secondary-color);
	background-color: var(--primary-bg);
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 400px;
	overflow-y: auto;
	margin: auto;
	position: relative;
	max-height: 100vh;
}
#createEventBox::-webkit-scrollbar {
	width: 0px;
}
#eventDescription, #eventAddress {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	min-height: 30px;
	max-height: 100px;
	border-radius: 5px;
	overflow-y: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.event-box input {
	width: 100%;
	min-height: 30px;
	max-height: 100px;
	border-radius: 5px;
}
.event-box p {
	font-size: 0.8rem;
}
#registerEvent, .custom-file-upload {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px 12px;
	cursor: pointer;
	background-color: var(--secondary-color);
	color: var(--text-light);
	border-radius: 4px;
	width: 100%;
	height: 30px;
	font-size: 0.8rem;
	font-family: 'Nippo-Regular';
	font-weight: 600;
	border: none;
}
#registerEvent:hover , .custom-file-upload:hover {
	transform: scale(0.98);
}
#modalBackground, #modalBackground2, #modalBackgroundChat {
	display: flex;
}
/* SWITCH */
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: var(--text-light);
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked+.slider {
	background-color: var(--secondary-color);
}
input:focus+.slider {
	box-shadow: 0 0 1px var(--secondary-color);
}
input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
/* SWITCH */
form ul {
	list-style: none;
	padding: 0;
}
form li {
	margin-bottom: 10px;
}
form label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
.close-btn {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 20px;
	cursor: pointer;
	text-decoration: none;
	color: var(--text-light);
	transition: color 0.3s, background-color 0.3s;
	width: 35px;
	height: 35px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.close-btn:hover {
	background-color: var(--secondary-color);
	color: var(--text-light);
}
footer {
	background-color: var(--primary-bg);
	color: var(--text-light);
	text-align: center;
	padding: 1rem 3rem;
}
@media screen and (min-width: 600px) {
	main {
		grid-template-columns: repeat(2, minmax(250px, 1fr));
   }
}
@media screen and (min-width: 900px) {
	main {
		grid-template-columns: repeat(3, minmax(250px, 1fr));
   }
}
@media screen and (min-width: 1200px) {
	main {
		grid-template-columns: repeat(4, minmax(250px, 1fr));
   }
}
.menuNav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: var(--primary-bg);
	overflow-x: hidden;
	transition: width 0.5s;
	padding-top: 60px;
	border-left: 4px solid transparent;
}
.menuNav.show-border {
	border-left-color: var(--secondary-color);
}
.menuNav ul {
	list-style-type: none;
	padding: 0;
}
#citySuggestions {
	max-height: 150px;
	overflow-y: auto;
	border-bottom: none;
}
.menuNav li {
	padding: 8px 8px 8px 8px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
	border-bottom: 4px solid var(--secondary-color);
}
.menuNav #cityList li {
	border-bottom: none;
	font-size: 1rem;
	margin-bottom: 0px;
	padding: 0px;
}
.menuNav li:hover {
	background-color: var(--primary-bg);
	color: #f1f1f1;
}
.menuNav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
.menuNav #cityInput {
	width: 100%;
	font-size: 3rem;
}
.menuNav input[type=text], .menuNav select, #citySuggestions {
	width: 100%;
	font-size: 1rem;
	border-radius: 5px;
	padding: 8px;
}
.menuNav option {
	font-size: 1rem;
}
@media screen and (max-height: 450px) {
	.menuNav {
		padding-top: 15px;
   }
	.menuNav a {
		font-size: 18px;
   }
}
#myBtn {
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: var(--secondary-color);
	color: var(--text-light);
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	font-size: 18px;
	transition: background-color 0.3s, transform 0.3s;
}
#myBtn img {
	width: 100%;
	height: auto;
}
#myBtn:hover {
	transform: scale(1.1);
}
#profileBox {
	border: 6px solid var(--secondary-color);
	background-color: var(--primary-bg);
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 400px;
	position: relative;
}
#profileBox h2 {
	color: var(--secondary-color);
	font-size: 2rem;
	margin-bottom: 1rem;
}
#profileBox ul {
	color: var(--text-light);
	font-size: 1rem;
	list-style: none;
	padding: 0;
}
#profileBox ul li {
	margin-bottom: 10px;
}
#profileBox label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
	color: var(--secondary-color);
}
#profileBox textarea {
	width: calc(100% - 20px);
	padding: 10px;
	border-radius: 5px;
	border: 2px solid var(--secondary-color);
	background-color: var(--primary-bg);
	color: var(--text-light);
}
#profileBox textarea {
	resize: none;
	height: 80px;
}
#profileBox button {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: var(--secondary-color);
	color: #fff;
	cursor: pointer;
	margin-top: 10px;
}
#profileBox button:hover {
	background-color: #d44a0d;
}
#profileBox .close-btn {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 20px;
	cursor: pointer;
	color: var(--text-light);
}
#profileBox .close-btn:hover {
	color: var(--text-light);
}
#profileBox a {
	color: var(--secondary-color);
}
/* Style for chat box */
.chat-box {
	border: 6px solid var(--secondary-color);
	background-color: var(--primary-bg);
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 600px;
	position: relative;
}
.chat-box h2 {
	color: var(--secondary-color);
	font-size: 2rem;
	margin-bottom: 1rem;
}
/* Style for chat messages container */
#chatMessages {
	margin-top: 5px;
	max-height: 400px;
	overflow-y: auto;
	margin-bottom: 10px;
	color: var(--text-light);
	display: flex;
	flex-direction: column 
}
/* Style for chat input and send button */
#chatInput {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
#chatForm button {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: var(--secondary-color);
	color: var(--text-light);
	cursor: pointer;
	margin-top: 10px;
}
#chatForm button:hover {
	background-color: #d44a0d;
}
.close-chat-btn {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 20px;
	cursor: pointer;
	text-decoration: none;
	color: var(--text-light);
	transition: color 0.3s, background-color 0.3s;
	width: 35px;
	height: 35px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.close-chat-btn:hover {
	background-color: var(--secondary-color);
	color: var(--text-light);
}
#userSearchInput {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
/* Style for user list */
.user-list {
	max-height: 200px;
	overflow-y: auto;
	background-color: var(--text-light);
	border-radius: 5px;
}
.user-list div {
	cursor: pointer;
	padding: 5px;
	border-radius: 5px;
}
.user-list div:hover {
	background-color: var(--secondary-color);
	color: var(--text-light);
}
.user-selected {
	position: relative;
	background-color: var(--secondary-color);
	color: var(--text-light);
	border: 1.5px solid var(--text-light);
}
.user-selected:hover {
	border-color: var(--secondary-color);
}
.user-selected::after {
	content: '×';
	position: absolute;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
	color: var(--text-light);
	cursor: pointer;
}
#chatMessages .message-received {
	text-align: left;
	background-color: var(--text-light);
	border-radius: 15px;
	padding: 10px;
	margin-bottom: 10px;
	margin-right: auto;
	color: var(--secondary-color);
	max-width: 70%;
	word-wrap: break-word;
}
#chatMessages .message-sent {
	text-align: right;
	background-color: var(--secondary-color);
	border-radius: 15px;
	padding: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: auto;
	color: var(--text-light);
	max-width: 70%;
	word-wrap: break-word;
}
